<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestNG">
    <test parallel="methods" thread-count="7" name="C:\Users\vladb\Desktop\MSV\Lab1_2\src\test\java\msv.lab1\TestNG.java">
        <classes>
            <class name="msv.lab1.MainTestNG">
                <methods>
                    <include name="testFunc"/>
                    <include name="testFuncWithZeroStep"/>
                    <include name="testYBAlfa"/>
                    <include name="testComparisonParameterized"/>
                    <include name="testNextAlfa"/>
                    <include name="testCalculationThrowsException"/>
                    <include name="testConsoleOutput"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>